/*******************************HEADER*****************************/
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fae5d3;
  /*we define height  because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  /*ده حطيناه في الاخر علشان الريسبونسيف علشان الناف هيبقى بره الشاشة ناحية اليمين وهيبقى ابسليوت بوزيشنينج*/
  position: relative;
}

.logo{
  height: 2.2rem;
}

/*********************************NAVIGATION*********************/
.main-nav-list{
   list-style: none;
   display: flex;
   gap: 3.2rem;
   align-items: center;
}
 
.main-nav-link:link,
.main-nav-link:visited{
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
  color:#333 ;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active{
  color:#cf711f; 
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
  /* حطينا قبلها المحدد اللي قبلها في الاتش تي ام ال علشان اتاكد انها هتتطبق في الانميشن ولون الخط يبقى ابيض وليه اولويه اكبر  */
   display: inline-block;
   background-color:  #e67e22;
   color: white;
   border-radius: 9px;
   padding: 0.8rem 1.6rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
  background-color: #cf711f;
}

/**********MOBILE NAV**********/
.btn-mobile-nav{
 border: none;
 background: none;
cursor: pointer;
display: none;
}

.icon-mobile-nav{
width: 4.8rem;
height: 4.8rem;
color: #333;
}

.icon-mobile-nav[name="close-outline"]{
 display: none;
  }

  /*STICKY NAV*/
  /*عملنا كلاس ستيكي ده هيضاف للبادي وهيبقى بيرنت للهيدير والهيرو سيكشن علشان نعرف نضيفه للهيدر*/
  .sticky .header{
    position: fixed;
    top: 0;
    bottom:0 ;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  }

  /*عايزين نعمل مارجن توب للهيرو سيكشن لفوق بنفس ارتفاع الهيدر علشان الستيكي يلاقي مكان يبقى فيه بين الهيرو والفيتشرز ان*/
  .sticky  .section-hero{
    margin-top: 9.6rem;
  }
  
  /**********************************HERO SECTION******************************/
.section-hero{
  background-color: #fae5d3;
  padding:4.8rem 0 9.6rem 0;
}

.hero{
  /*استخدمت الجريد بدل الفليكس هنا علشان هحط عرض للعنصر فمش هينفع الفليكس
  الفليكس بيتحط للعنصر اللي محتواه هيحدد عرضه*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  /************1300px***********/
  max-width:130rem ;
  margin: 0 auto;
  padding: 0 3.2rem;
  gap:9.6rem;
  align-items: center;
}

.hero-img{
  width: 100%;
}

.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

/*  عايزه احط الصور جنب بعض فهستخدم الفليكس وعايزه احط الكلام جنب الصور فهستخدم الفليكس هنا بردو 
والعرض على حسب المحتوى فعلشان كده ههستخدم الفليكس بدل الجريد */
.delivered-meals{
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}

.delivered-imgs{
  display: flex;
}

.delivered-imgs img{
    height: 4.8rem;
    width:  4.8rem;
    border-radius: 50%;
    /*TRICK TO MAKE IMAGES OVERLAP*/
    margin-right: -1.6rem;
    border: 3px solid #fae5d3 ;
}

.delivered-imgs img:last-child{
  margin: 0;
}

.delivered-text{
    font-size: 1.8rem;
    font-weight: 800;
}

.delivered-text span{
   color:  #cf711f;
   font-weight: 700;
}

/*******************************FEATURED-IN****************************/
.section-featured{
  padding: 4.8rem 0 3.2rem 0 ;
}

.heading-featured{
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos-feautred{
  display: flex;
  justify-content: space-around;
}

.logos-feautred img{
  /*استخدمت الارتفاع علشان اقلل من حجم الصور بدلا من الويدث لانها اكثر منطقية*/
  height:3.2rem ;
  /*هنا هستخد خاصية تخلي العنصر اسود علشان لما استخدم خاصية العتامة للصورة يبقى رمادي*/
  filter: brightness(0);
  opacity: 50%;

}

/********************************SECTION HOW************************/
.section-how{
  padding: 9.6rem 0 ;
}


.step-img{
  width: 35%;
}

.step-number{
  font-size: 8.6rem;
  font-weight: 600;
  color:#ddd;
  margin-bottom: 1.6rem;
}

.step-description{
  font-size:1.8rem;
  line-height:1.8;

}

.step-img-box{
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
}

.step-img-box::before,
.step-img-box::after{
  content: '';
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}

.step-img-box::before{
  background-color:#fdf2e9;
  width: 60%;
  /*العنصر مش هيظهر لان احنا اديناله نسبة ارتفاع من العنصر الاب والعنصر الاب مالوش ارتفاع
  علشان كد هنستخدم حيلة البادنج علشان ندي العنصر ارتفاع*/
  /* height: 60%; */
  padding-bottom: 60%;
  z-index: -2;
}

.step-img-box::after{
  background-color:#fae5d3;
  width: 45%;
  /*العنصر مش هيظهر لان احنا اديناله نسبة ارتفاع من العنصر الاب والعنصر الاب مالوش ارتفاع
  علشان كد هنستخدم حيلة البادنج علشان ندي العنصر ارتفاع*/
  /* height: 60%; */
  padding-bottom: 45%;
   border-radius: 50%;
   z-index: -1;
}

/******************************** SECTION MEALS ************************/
.section-meals{
  padding: 9.6rem 0 ;
  /* background-color: orangered; */
}

.meal{
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  /*حطيناها علشان جزء الصورة اللي طالع بره من فوق يختفي والكارت كله تبقى حوافه رواندد*/
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover{
  transform: translateY(-1.2rem);
  box-shadow: 0 3.6rem 6.4rem 0 rgba(0, 0, 0, 0.06);
}

.meal-content{
  /*عملنا الكلاس ده بعد الصوره علشان عايزين ندي بادنج للكلام من غير ماالصورة تتغير وحجمها يقل*/
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-img{
  width: 100%;
}

/*عملنا ديف وكلاس للتاج علشان الوجبة التانية فيها تاجين مش تاج واحد وهنعمل بينهم جاب فعايزنهم يبقو فليكس فلازم كونتينر ليهم*/
.meal-tags{
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag{
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}

.tag-vegetarian{
  background-color:#51cf66;
}

.tag-vegan{
  background-color:#94d82d;
}

.tag-Paleo{
  background-color:#ffd43b;
}

.meal-title{
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.list-attributes{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-attribute {
  font-size: 1.8rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.meal-icon{
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.all-recipes{
  text-align: center;
  font-size: 1.8rem;
}
/******************************** TESTIMONIAL SECTION ************************/
.section-testimonial{
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container{
  /*عملنا الكونتينر ده علشان حاجتين الاول علشان يضم العنوان مع الاراء في العمود الاول من الجريد والتاني علشان نضيف بادنج كبير حوالين محتوى العمود ده لوحده مش للسيكشن كله*/
  padding: 9.6rem;
}

.testimonials{
  /*هنا مش هنستخدم الجريد الاولانية لاني الجاب بتاعتها كبيرة اللي بين العناصر*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img{
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text{
  font-size:1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name{
  font-size:1.6rem;
  color: #6f6f6f;
 
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:1.6rem;
  padding: 1.6rem;
}

.gallery-img{
  /*عملنا الكونتينر ده للصورة علشان نطبق الهوفر عليه والصورة بتكبر لما ب هوفر عليها علشان كده خفينا الاوفر فلو في الكونتينر الاب*/
  overflow: hidden;
}

.gallery-img img{
  /*خليناها بلوك علشان نشيل الخطوط الرفيعة البيضاء اللي بتبقى حوالين الصورة*/
  display: block;
  /*علشان نصغر الصور بنخلي البراوز يصغرها عن طريق اني اقوله ان عرضها يبقى من مساحة الكونتينر*/
  width: 100%;
  transition: all 0.4s;
}

.gallery-img img:hover{
  transform: scale(1.1);
}

/********************************SECTION PRICING************************/
.section-pricing{
  padding: 9.6rem 0 ;
  /* background-color: orangered; */
}

.pricing-plan{
 border-radius: 11px;
 /*خليناالمحتوى ياخد جزء من  مساحةالكونتينر الاب لانه كان عريض زيادة*/
 width: 75%;
}

.price-plan-starter{
  /*ده عملناه كده علشان نقرب المسافة بين الكارتين بعد ماقللنا مساحة المحتوى جوه الكونتينر والكارت التاني بادئ من الاول كقيمة افتراضية*/
  justify-self: end;
  /*هنا في تريكايه صغيرة وهي ان الكارت ده ليه حدود زودت من مساحة العنصر وبالتالي الزرارين بقو مش على نفس المستوى في المحاذاه فهندي بادنج اقل من بادنج الكارد التاني*/
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.price-plan-complete{
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.price-plan-complete::after{
 content: 'best value';
 position: absolute;
 background-color: #ffd43b;
 font-size: 1.4rem;
 font-weight: 700;
 text-transform: uppercase;
 color: #333;
 padding: 0.8rem 8rem;
 top: 6%;
 right: -18%;
 transform: rotate(45deg);
}

.plan-header{
  /*عملنا الكلاس ده علشان نوسطن الكلام جوه الكارد وعلشان ندي مساحة بين العنوان وباقي محتويات الكارد*/
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name{
  color: #cf711f;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}

.plan-price{
  color: #333;
  font-size:6.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.plan-price span{
  font-size:3rem;
  font-weight:500;
}

.plan-text{
font-size: 1.6rem;
line-height: 1.6;
color: #6f6f6f;
}

.plan-sign-up{
  /*عملنا الديف ده علشان عايزين نوسطن الزرار جوه الكار وعلشان عايزين ندي مساحة بين الزرار والليست اللي قبلية بدل مانعمل مارجن بوتوم في الليست علشان هي عنصر معاد استخدامه*/
  margin-top: 4.8rem;
  text-align: center;
}

.plan-details{
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;

}

.feature-icon{
 color: #e67e22;
 width: 3.2rem;
 height: 3.2rem;
 background-color: #fdf2e9;
 padding: 1.6rem;
 border-radius: 50%;
 margin-bottom: 3.2rem;
}

.feature-title{
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;

}
.feature-text{
  font-size:1.8rem;
  line-height: 1.8;
}

/********************************SECTION CALL TO ACTION************************/
.section-cta{
  padding:4.8rem 0 12.8rem 0 ;
}

.cta{
  /*عملنا جريد جديدة ومستخدمناش القديمة علشان القديمة الاعمده فيها متساوية وانا عايز الاعمده هنا حجمها مختلف عن بعض*/
  display: grid;
  /* (2/3)*100=66.66% for form
     (1/3)*100=33.33% for image */
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom,#eb984e,#e67e22);
  /*حطينا الارتفاع هنا علشان نجرب الالوان والصورة بس لكن شيلناه بعد كده علشان احنا مش عايزين ارتفاع ثابت احنا عايزين الارتفاع يكون على قد المحتوى*/
  /*height: 50rem; */
  overflow: hidden;
}

.cta-text-box{
 padding:4.8rem 6.4rem 6.4rem 6.4rem;
 color:#45260a; 
}

.cta-text-box .heading-secondary{
  color:#45260a;
  margin-bottom: 3.2rem;
}

.cta-text{
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box{
  background-image:linear-gradient(to right bottom,rgba(235, 151, 78, 0.35),rgba(230, 125, 34, 0.35)), url(../img/eating.jpg);
  background-size: cover;
}

.cta-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.8rem;
  row-gap: 2.4rem;
}

.cta-form label{
 display: block;
 font-size: 1.6rem;
 font-weight: 500;
 margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select{
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder{
  color: #aaa;
}

.cta *:focus{
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/********************************FOOTER***********************/
.footer{
  padding: 12.8rem 0 ;
  border-top: 1px solid #eee;
  /* background-color: orangered; */
}

.grid-footer{
  /*هنا عملنا جريد جديدة بدل القديمة اللي فيها خمس اعمدة متساويين خلينا عرض العمود الاولاني والتاني اكبر
   علشان فيهم كلام اكتر والكلام متقسم على 3 سطور لما كانت الاعمدة متساوية واحنا عايزين الكلام على سطرين بس*/
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col{
  /*عملنا الكولوم ده فليكس علشان ال كوبي رايت تيكست عايزين نخليه في اخر الكولوم من تحت
   فبنعمل الكونتينر فليكس وبندي مارجن توب اوتو للكوبي رايت علشان يسيب مساحة للعنصر من فوق*/
  display:flex;
  flex-direction: column;
}

.footer-logo{
  display: block;
  margin-bottom: 3.2rem;
}

.social-links{
 list-style: none;
 display: flex;
 gap:2.4rem;
}

.social-icon{
  height: 2.4rem;
  width: 2.4rem;
}

.footer-heading{
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited{
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active{
  color: #555;
}

.copyright{
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  /*trick to push copyright content to the button of logo-col*/
  margin-top: auto;
}

.contacts{
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
}


.address{
 margin-bottom: 2.4rem;
}